
$color-primary: #ff9800;
$color-secondary: #fffaf4;
$color-dark: #333;
$color-light: #fff;
$color-hover: #e67e00;
$color-footer-bg: #212529;


$font-primary: 'Poppins', sans-serif;


$box-shadow-light: 0 2px 8px rgba(0, 0, 0, 0.05);
$box-shadow-medium: 0 6px 14px rgba(0, 0, 0, 0.07);
$box-shadow-hover: 0 10px 20px rgba(0, 0, 0, 0.12);


$bp-tablet: 800px;
